@font-face {
  font-family: 'coolvetica';
  src: url('../fontes/coolveticaRg.otf');
}

.body {
    /* background-color: rgb(34, 34, 34); */
    background-image: url('../images/blackWhite.jpg');
    background-color: rgb(255, 0, 0);
    background-size: cover;
    padding-left: 130px; 
    height: 100vh;
    font-family: "Open Sans",sans-serif;
}

.apresentacao {
  color:aliceblue;
  padding-left: 80px;
  padding-top: 140px;
  font-size: 130px;  /*aqui esta causando distorcao no mobile, fazendo o header ficar andando */
  /* font-size: 30px; */
  font-family: 'coolvetica';
  /* font-weight: 550; */
}

.btn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 250px;
  height: 70px;

  /* width: 150px;
  height: 40px;
  font-size: 15px; */

  margin: 4px 4px;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 6px;
  border:solid 1px rgb(0, 247, 255);
}